@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300&display=swap');


*{
  margin: 0;
  padding: 0;
}

.PrincipalGallery {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6;
}

.General{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.App-logo{
  display: absolute;
  min-width: 7rem;
  min-height: 4rem;
  width: 7rem;
  height: 4rem;
}

.NavBar{
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 5.8rem;
  left: 0;
  top: 0;
  background-color: #539D49;
}

.pages{
  margin: 5rem 8rem 5rem 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #F6F6F6;
  text-decoration: none;
}

a:hover{
  color: #c9c9c9;
}

.info{
  margin: 3.5rem auto 0 auto;
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-weight: 300;
  color: #F6F6F6;
  font-size: 14px;
}

.p1Home{
  padding: 0 0 0.9rem 0;
}

.copyright{
  font-size: 12px;
  margin: 4.5rem auto 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 300;
  color: rgb(11, 11, 11);
}


.Info-logo{
  display: flex;
  width: 30rem;
  height: auto;
}

.Forma1{
  position: absolute;
  width: 454.9px;
  height: 403.18px;
  left: -125.55px;
  top: 729px;

  transform: rotate(19.01deg);
}