.ButtonNav {
    background-color: #539D49;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
}
