@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300&display=swap');


*{
  margin: 0;
  padding: 0;
}

.PrincipalHome {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(7, 7, 7, 0.9), rgba(7, 7, 7, 0.9)), url('../../assets/tiger.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.InfoContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.pages{
  font-weight: 500;
  color: #F6F6F6;
  text-decoration: none;
}

.infoContainer{
  overflow: hidden;
}

a:hover{
  color: #c9c9c9;
}

.info{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-weight: 300;
  color: #F6F6F6;
  font-size: 14px;
}



.Info-logo{
  width: 90%;
  height: auto;
}


.Forma2{
  position: absolute;
  transform: rotate(-45.53deg);
  width: 518.9px;
  height: 446.3px;
  left: 1100px;
  top: 550px;
}

.Forma1{
  position: absolute;
  width: 808.97px;
  height: 717px;
  left: -350px;
  top: 500px;
  transform: rotate(16.75deg);
}
